<head>
    <head>
        <title>SOVO技术团队</title>
        <script src="https://cdn.staticfile.net/jquery/1.10.2/jquery.min.js"></script>
        <style>
            td {
                color: black;
                font-size: 20px;
                
            }
        </style>
    </head>
    <body>
        <h1>SOVO技术团队</h1>
        <hr>
        <table>
            <tbody id="user_table">
            </tbody>
        </table>
    </body>
    <script>

        function get_users_by_name(name) {
            return new Promise((resolve, reject) => {
                $.get(
                    "/get_users_by_name",
                    {"name": name},
                    (data) => { resolve(data) }
                ).fail((data) => { reject(data) })
            }
        )}

        function render_users_table() {
            names = ["刘果峰", "王明鑫", "张佳丽"];
            for (name of names) {
                get_users_by_name(name)
                .then((response) => {
                    data = response["data"];
                    for (user of data) {
                        $("#user_table").append(
                            "<tr><td>" + user["username"] +
                            "</td><td>" + user["age"] +
                            "</td><td>" + ["男", "女"][user["gender"]] +
                            "</td></tr>"
                        );

                    }
                });
            }
        }

        $(document).ready(() => {
            render_users_table();
        });
    </script>

</head>